    @model List<Category>

<div class="row">
    <div class="col-sm-9">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
                <li><a asp-controller="Home" asp-action="Index" class="@Html.IsSelected(controller:"Home",action:"Index")" >Ana Sayfa</a></li>
                <li class="dropdown">
                    <a asp-action="Index" asp-controller="Shop" class="@Html.IsSelected(controller:"Shop")">Ürünler<i class="fa fa-angle-down"></i></a>
                    <ul role="menu" class="sub-menu">
                        @foreach (var item in Model)
                        {
                            <li><a   asp-controller="Shop" asp-action="Category" asp-route-id="@item.Id">@item.Name</a></li>
                        }
                    </ul>
                </li>
                <li><a class="@Html.IsSelected(controller:"Home",action:"ContactUs")" asp-action="ContactUs" asp-controller="Home">İletişime Geç</a></li>
            </ul>
        </div>
    </div>
  
</div>