@model UserBasket 
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Ürün</td>
                        <td class="description"></td>
                        <td class="price">Fiyat</td>
                        <td class="quantity">Adet</td>
                        <td class="total">Toplam</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserBasketItems)
                    {
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="@($"/images/products/{item.Product.ProductImages.FirstOrDefault().Path}")" alt="" style="width:125px !important;"></a>
                            </td>
                            <td class="cart_description">
                                <h4><a href="">@item.Product.Name</a></h4>
                            </td>
                            <td class="cart_price">
                                <p>@item.Product.Price.ToString("##.##") ₺</p>
                            </td>
                            <td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    <a class="cart_quantity_up" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@item.Product.Id" asp-route-quantity="1"> + </a>
                                    <input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
                                    <a class="cart_quantity_down" asp-action="DecreaseQuantity" asp-controller="Cart" asp-route-userBasketItemId="@item.Id"> - </a>
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">@item.Price.ToString("##.##") ₺</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" asp-action="RemoveFromCart" asp-route-userBasketItemId="@item.Id"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section> 



<section id="do_action">
    <div class="container">
        <div class="row">
     
            <div class="col-sm-12">
                <div class="total_area">
                    <ul>
                        <li>Sepet Tutarı <span>@Model.TotalPrice.ToString("##.##") ₺</span></li>
                        <li>Kargo <span>Bedava</span></li>
                        <li>Toplam <span>@Model.TotalPrice.ToString("##.##") ₺</span></li>
                    </ul>
                    <a class="btn btn-default check_out" asp-action="AddOrder" asp-controller="User">Siparişi Tamamla</a>
                </div>
            </div>
        </div>
    </div>
</section>
